.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10; /* isso aqui me salvou demais! Ficou gravado na memórida forever. */
}


.container{
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url('../assets/Menu.svg');
    display: inline-block; /* permite ajustar a largura e a altura */
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none; /*faz o menu desaparecer sem ocupar espaço nenhum */
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}
/* O checked é uma pseudoclasse. */
/* O acento 'tio' é um combinador css  */
.container__botao:checked ~ .lista-menu{
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-backdrop-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container__titulo, .opcoes, .container__texto{
    display: none;
}

/* .opcoes{
    display: none;
}

.container__texto{
    display: none;
} */

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .container__texto{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}



@media screen and (min-width: 1280px){
    .cabecalho{
        padding: 0 2em;
    }

    .container__link{
        display: flex;
        align-items: center; /* este parâmetro se usa apenas com flexbox */
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
        margin-left: 3em;
    }

    .container__link:hover{
        color: var(--azul-hover);
    }

    .opcoes{
        margin-right: auto;
        margin-left: 5em;
    }

    .container__texto{
        display: block;
        margin-left: -0.5em;
    }
    
    .container__titulo{
        margin-top: 0.5em;
    }

    .opcoes__item:hover{
        color: var(--azul-hover);
    }

    .opcoes__link:hover{
        color: var(--azul-hover);
    }
}