hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    text-align: center;
}

.rodape__logo{
    margin: 0;
    scale: 50%;
}

.lista-rodape{
     display: none;
}

.rodape__titulo-link{
     text-decoration: none;
}



@media screen and (min-width:1024px){
    .rodape{
        text-align: left;
        display: flex;
        justify-content: space-around;
   }

   .rodape__titulo{
        font-size: 24px;
   }

   .lista-rodape{
     display: block;
   }

   .lista-rodape__titulo{
        color: var(--cinza-claro);
        font-size: 14px;
        text-transform: uppercase;
   }

   .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
   }

   .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.5em;
        font-size: 14px;
   }
}   






@media screen and (min-width: 1280px){
     .lista-rodape{
          border-left: 1px solid var(--cinza-claro);
          padding-left: 1em;
     }

     .rodape{
          padding: 3em 0;
     }

     .rodape__titulo-link{
          text-decoration: none;
     }

     .rodape__titulo:hover{
          color: var(--cinza-claro);
      }
 }