.talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.talentos__subtitulo{
    color: var(--vermelho);
    font-weight: 500;
    font-size: 14px;
    background: rgba(142, 36, 36, 0.05);
    padding: 0.5em 1em;
    border-radius: 16px;
}

.talentos__titulo{
    font-weight: 600;
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.talentos__texto{
    font-weight: 400;
    font-size: 20px;
}

.talentos__imagem{
    margin-top: 64px;
}




@media screen and (min-width:1768px){
    .talentos{
        height: 70vh;
    }
    
}