@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{                /* Forma de utilizar o RESET CSS */
    margin: 0;
    padding: 0;
}


:root{
    --fonte-principal: 'Poppins', sans-serif;

    --branco-principal: #FFFFFF;
    --azul-marinho: #19435A;
    --azul-baby: #0e9ced;
    --cor-botoes: #50B2EA;
}


body{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 324;
}


.container{
    height: 100vh;
}


.principal{
    background-image: url('../assets/background_ferramentas.png');
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}


.container__logo__titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container__logo{
    margin: 0em -0.5em 0 0;
}


.container__logo__titulo_parte1{
    font-size: 48px;
    margin: 0em 0 -0.40em 0.25em;
    font-weight: bold;
}


.container__logo__titulo_parte2{
    font-size: 32px;
    margin: -0.1em 0 0 1.1em;
    letter-spacing: 0.7em;
    font-weight: bold;
}


.container__texto1{
    font-size: 48px;
    font-weight: 523;
    margin: 1.4em 0 0 0;
}


.container__texto2{
    font-size: 14px;
    font-weight: 520;
    margin: 30px 0 0 0;
    text-align: justify;
    position: relative;
    left: 34em;
    width: 40%;  
    hyphens: auto;  
}


.container__opcoes{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2em;
    margin: 1em 0 0 0;
}


.localiza{
    text-decoration: none;
    color: var(--branco-principal);
}


.localiza:hover{
    color: var(--azul-baby);
}


.teste{
    transition: all 0.3s ease-in-out;
}



.teste:hover{
    opacity: 70%;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.lista__item{
    font-family: var(--fonte-principal);
    font-size: 12.5px;
    text-transform: uppercase;
}


.container__botao{
    color: var(--branco-principal);
    background-color: var(--azul-baby);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 1em;
    margin: 2.5em 38.5em;
    position: relative;
    top: 1.2em;
    transition: all 0.3s ease-in-out;
}


.container__botao:hover{
    background-color: var(--cor-botoes);
    box-shadow: 0 0 0 2px rgb(51, 135, 204), 8px 8px 0 0 rgb(3, 68, 143);
    transform: scale(1.1);
}


.botao__caracteristica{
    text-decoration: none;
}


.botao__caracteristica:hover{
    background-color: #50B2EA;
}







/* Elementos da segunda seção */

.sobre__nos{
    height: 110vh;
    background-image: linear-gradient(to left, var(--azul-baby) 50%, var(--branco-principal) 50%);
    margin: -1.229em 0 0 0;
    display: block;
    padding: 1em;
}


.sobre__nos__texto{
    background-color: var(--azul-baby);
    border-radius: 49px;
    border: 6px solid var(--branco-principal);
    display: block;
    width: 25.32em;
    height: 11em;
    margin: 2em 4.06em 0.09em 2em;
}


.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}


.sobre__nos__texto__texto{
    font-family: var(--fonte-principal);
    font-size: 33px;
    font-weight: 400;
    text-align:center;
    margin-top: -18em;
    margin-left: 3em;
}


.paragraph{
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: var(--azul-marinho);
    margin-top: 3em;
    text-align: justify;
    width: 70%;
    position: relative;
    left: 5em;
    hyphens: auto;
    bottom: 1em;
}


.lista{
    text-align: left;
    margin-left: 2em;
    margin-top: 1em;
}


.item{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.9em;
    display: flex;
    align-items: center;
}


.icone{
    margin-right: 0.7em;
}


.jacob__plamber{
    margin: -11.22em -1em 1.05em -3.2em;
    block-size: -5em;
    height: 11em;
    width: 12.6em;
}


.botao2{
    position: relative;
    left: 3em;
    bottom: 5em;
    color: var(--branco-principal);
    background-color: var(--azul-baby);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 1em;
    margin: 2.5em 39.5em;
    text-align: center;
    border: 3px solid var(--branco-principal);
    transition: all 0.3s ease-in-out;
}

.botao2:hover{
    background-color: var(--cor-botoes);
    box-shadow: 0 0 0 2px rgb(51, 135, 204), 8px 8px 0 0 rgb(3, 68, 143);
    transform: scale(1.1);
}

.sozinho{
    position: relative;
    top: 2.5em;
    left: 1em;
    transition: all 0.3s ease-in-out;
}


.sozinho:hover{
    background-color: var(--cor-botoes);
    box-shadow: 0 0 0 2px rgb(51, 135, 204), 8px 8px 0 0 rgb(3, 68, 143);
    transform: scale(1.1);
}


/* Elementos da terceira seção */

.servicos{
    background-image: linear-gradient(to bottom, var(--azul-baby) 44.5%, var(--branco-principal) 44.5%);
    height: 100vh;
    position:relative;
}


.canos{
    width: 100%;
    max-width: 80em;
    height: 6.75em;
    opacity: 15%;
}


.servico__texto{
    position: absolute;
    bottom: 13.6em;
    left: 13.5em;
}


.servico__texto__titulo{
    font-size: 48px;
    font-weight: bold;
}


.servicos__imagens__lista{
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 4.8em;
}


.item1{
    left: 0.8em;
    position: relative;
}


.item2{
    position: relative;
    left:-0.5em;
}

.item3{
    position: relative;
    left: -2em;
}


.item4{
    position: relative;
    left: -3em;
}


.servicos__chave__inglesa{
    scale: 120%;
    position: relative;
    left: 2.8em;
    bottom: 1.3em;
}


.retangulo{
    scale: 90%;
}


.servicos__imagens__lista__subtitulo{
    color: var(--azul-baby);
    font-size: 22px;
    position: relative;
    top: 2em;
    left: 1.5em;
}


.descricao{
    font-size: 15px;
    font-family: var(--fonte-principal);
    color: var(--azul-marinho);
    position: relative;
    text-align: justify;
    align-items: center;
    top: 4em;
    left: 6em;
    word-wrap: break-word;
    width: 70%;
}


.botao{
    display: block;
    position: relative;
    bottom: 3.5em;
    margin: 0 42em;   
}




/* Elementos da quarta seção */

.comentarios{
    background-image: url('../assets/fundo_azul.png');
    height: 100vh;
}


.comentarios__titulo{
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    font-size: 48px;
    text-align: center;
    position: relative;
    top: 1em;
}


.container__comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2em;
    gap: 0.5em;
}


.container__comentario1{
    display: flex;
    gap: 1em;
    box-sizing: border-box;
}


.comentario{
    background-color: var(--branco-principal);
    color: var(--azul-marinho);
    width: 12em;
    height: 5.1em;
    border-radius: 40px;
}


.pessoa{
    scale: 18%;
    position: relative;
    right: 3.84em;
    bottom: 3.9em;
}


.nome__pessoa{
    font-size: 14px;
    position: relative;
    left: 10em;
    bottom: 36em;
    color: var(--azul-baby);
}


.opiniao{
    font-size: 14px;
    position: relative;
    left: 9.3em;
    bottom: 35em;
    width: 28em;
    text-align: justify;
}


.estrelas1{
    position: relative;
    bottom: 10.2em;
    left: 2.6em;
}

.estrelas2{
    position: relative;
    bottom: 10.6em;
    left: 2.6em;
}


.estrelas3{
    position: relative;
    bottom: 10.2em;
    left: 2.6em;
}


.estrelas4{
    position: relative;
    bottom: 9.75em;
    left: 2.6em;
}



/* Elementos da quinta seção */

.contato{
    height: 80vh;
    background-color: var(--branco-principal);
    color: var(--azul-baby);
}


.formas__contato{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -30.7em;
    top: -4.3em;
    gap: 1em;
}


.botao{
    background-color: var(--azul-baby);
    text-align: center;
    display: block; 
    text-decoration: none;
    width: 7em;
    height: 1.4em;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: bold;
    border-radius: 40px;
    position: relative;
    left: 1.1em;
    transition: all 0.3s ease-in-out;
}


.botao:hover{
    background-color: var(--cor-botoes);
    box-shadow: 0 0 0 2px rgb(51, 135, 204), 8px 8px 0 0 rgb(3, 68, 143);
    transform: scale(1.1);
}


.texto{
    font-size: 31px;
    position: relative;
    top: 0.3em;
}




/* Elementos do rodape */

.rodape{
    text-align: center;
    background-color: var(--azul-marinho);
    height: 16vh;
}


.rodape__texto{
    position: relative;
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 15px;
    top: 2.4em;
    text-decoration: none;
    color: var(--branco-principal);
}

